<nav class="navbar navbar-expand-lg inner">
    <div class="navbar-header d-flex align-items-center justify-content-between">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a [routerLink]="['/home']" class="nav-link">Global Feed</a>
            </li>
            <li *ngIf="loggedIn" class="nav-item"><a class="nav-link active">My Feed</a>
            </li>
        </ul>
      </div>
</nav>

<div *ngIf="!articles">
  No Articles are here... yet.
</div>

<div *ngIf="articles">
<div *ngFor="let article of articles" id="feed">
  <app-article-card [article] = "article"></app-article-card>
</div>
<app-paginator *ngIf="isValid()" [pagination]="pagination" (update)="changePage($event)"></app-paginator>
</div>