<div *ngIf="pagination.currentPage!==1 && pagination.currentPage!==pagination.totalPages">
<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a href="#feed" class="page-link" (click)="changePage(pagination.currentPage-1)">Previous</a></li>
      <li class="page-item"><a href="#feed" class="page-link" (click)="changePage(pagination.currentPage-1)">{{pagination.currentPage-1}}</a></li>
      <li class="page-item active"><a href="#feed" class="page-link" disabled>{{pagination.currentPage}}</a></li>
      <li class="page-item"><a href="#feed" class="page-link" (click)="changePage(pagination.currentPage+1)">{{pagination.currentPage+1}}</a></li>
      <li class="page-item"><a href="#feed" class="page-link" (click)="changePage(pagination.currentPage+1)">Next</a></li>
    </ul>
</nav>
</div>

<div *ngIf="pagination.currentPage===1">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a href="#feed" class="page-link" disabled>Previous</a></li>
          <li class="page-item active"><a href="#feed" class="page-link" disabled>{{pagination.currentPage}}</a></li>
          <li class="page-item"><a href="#feed" class="page-link" (click)="changePage(pagination.currentPage+1)">{{pagination.currentPage+1}}</a></li>
          <li class="page-item"><a href="#feed" class="page-link" (click)="changePage(pagination.currentPage+2)">{{pagination.currentPage+2}}</a></li>
          <li class="page-item"><a href="#feed" class="page-link" (click)="changePage(pagination.currentPage+1)">Next</a></li>
        </ul>
    </nav>
    </div>

    
<div *ngIf="pagination.currentPage===pagination.totalPages">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a href="#feed" class="page-link" (click)="changePage(pagination.currentPage-1)">Previous</a></li>
          <li class="page-item"><a href="#feed" class="page-link" (click)="changePage(pagination.currentPage-2)">{{pagination.currentPage-2}}</a></li>
          <li class="page-item"><a href="#feed" class="page-link" (click)="changePage(pagination.currentPage-1)">{{pagination.currentPage-1}}</a></li>
          <li class="page-item active"><a href="#feed" class="page-link" disabled>{{pagination.currentPage}}</a></li>
          <li class="page-item"><a href="#feed" class="page-link" disabled>Next</a></li>
        </ul>
    </nav>
</div>
    