<!-- Hero Section-->
<!-- 1920 x 1438 -->
<section style="background: url(https://user-images.githubusercontent.com/14929476/46952116-9b64f200-d0a7-11e8-872b-f376b49f07f9.jpg); background-size: cover; background-position: center center" class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1>Box Of Talks </h1><h5>Open up a new world</h5>
      </div>
  </div>
  </div>
</section>

<section class="featured-posts">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <router-outlet></router-outlet>
      </div>      
      <div class="col-lg-4">
        <app-trending-tags></app-trending-tags>
      </div>
    </div>
  </div>
</section>