<div class="container">
    <div class="row">
  
  
      <!-- Latest Posts -->
      <main class="post blog-post offset-lg-1 col-lg-10"> 
        <div class="container">
          <div class="post-single">
            <div class="post-details">
              <h1>{{article?.title}}</h1>
              <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                  <div class="avatar"><img src={{article?.author?.image}} alt="..." class="img-fluid rounded-circle"></div>
                  <div class="title"><span>{{article?.author?.username}}</span></div></a>
                <div class="d-flex align-items-center flex-wrap">       
                  <div class="date">{{article?.createdAt}}</div>
                  <div class="views">{{article?.favoritesCount}}</div>
                </div>
              </div>
              <div class="post-body">
                {{article?.body}}
              </div>
              <div  class="post-tags">
                  <app-tag *ngFor="let tag of article?.tagList" [tagName]="tag"></app-tag>
                </div>
  
              <div class="post-comments">
                <header>
                  <h3 class="h6">Article Comments<span class="no-of-comments">({{comments?.length}})</span></h3>
                </header>
                
                <app-comment (delete)="commentDelete($event)" *ngFor="let comment of comments" [comment]="comment"></app-comment>                                
  
              </div>
              <app-add-comment (update)="commentUpdate($event)" [slug]="article?.slug"></app-add-comment>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  