<!-- Post-->
<div class="row d-flex align-items-stretch custom">
    <div class="text col-lg-12">
      <div class="text-inner d-flex align-items-center">
        <div class="content">
          <header class="post-header">
            <a href="post.html"><h2 class="h4">{{article.title}}</h2></a>
          </header>
          <p>{{article.body}}</p>
          <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
            <div class="title"><span>{{article.author.username}}</span></div></a>
            <div class="date">{{article.createdAt}}</div>
            <div class="comments">{{article.favoritesCount}}</div>
          </footer>
        </div>
      </div>
    </div>
  </div>